/*(@import url(http://fonts.googleapis.com/css?family=Aclonica);*/

body {
    color: white;
    background-color: black;
}

div#clock_frame {
    padding-top: 0.5em;
    width: 100%;
}

span {
    display: block;
    float: right;
    width: 90%;
    font-family: cursive;
    margin-right: 10px;
}

span#clock_date {
    text-align: right;
    font-size: 0.5em;

    padding-right: 0.5em;
}

span#clock_time {
    padding-top: 0.5em;
    font-size: 2em;
}

span#schedule {
    font-size: 0.5em;
    text-align: right;
    padding-right: 0.5em;
}
